[submodule "host/resourcesnew/slacer"]
	path = host/resourcesnew/slacer
	url = https://github.com/Photocentric3D/SLAcer.js
[submodule "host/photocentric/slacer"]
	path = host/photocentric/slacer
	url = https://github.com/Photocentric3D/SLAcer.js
