<div class="panel panel-default" ng-show="settingsController.currentPrinter">
	<div class="panel-heading clearfix">
		<h3 class="panel-title pull-left">Basic Printer Setup</h3>
	    <div class="btn-group pull-right">
			<button class="btn btn-success" ng-disabled="settingsController.currentPrinter.started" ng-click="settingsController.startCurrentPrinter()">
				<i id="start-btn" class="fa fa-play"></i> 
				<span>Start</span>
			</button>
			<button class="btn btn-danger" ng-disabled="!settingsController.currentPrinter.started" ng-click="settingsController.stopCurrentPrinter()">
				<i id="stop-btn" class="fa fa-stop"></i> 
				<span>Stop</span>
			</button>
			<button class="btn btn-primary" ng-disabled="!settingsController.currentPrinter.started" ng-click="settingsController.gotoPrinterControls()" >
				<i class="fa fa-wrench"></i> 
				<span>Controls</span>
			</button>
	    </div>
	</div>
	<div class="list-group">
		<div class="list-group-item">
			<span class="fa-stack fa-lg">
			  <i class="fa fa-stack-2x fa-2x fa-print"></i>
			  <i class="fa fa-stack-2x fa-2x fa-refresh fa-spin text-danger" ng-show="settingsController.currentPrinter.configuration.AutoStart"></i>
			</span>
			<label>Name</label>
			<h4 class="list-group-item-heading">{{settingsController.currentPrinter.configuration.name}}</h4>
		</div>
		<div class="list-group-item">
			<label>Serial Port</label>
			<h4 class="list-group-item-heading">{{settingsController.currentPrinter.configuration.machineConfig.MotorsDriverConfig.ComPortSettings.PortName}}</h4>
		</div>
		<div class="list-group-item">
			<label>Display</label>
			<h4 class="list-group-item-heading">{{settingsController.currentPrinter.configuration.machineConfig.MonitorDriverConfig.OSMonitorID}}</h4>
		</div>
		<div class="list-group-item">
			<label>Autostart</label>
			<h4 class="list-group-item-heading">{{settingsController.currentPrinter.configuration.AutoStart}}</h4>
		</div>
		<div class="list-group-item">
			<label>Machine Configuration</label>
			<h4 class="list-group-item-heading">{{settingsController.currentPrinter.configuration.MachineConfigurationName}}</h4>
			<select name="type" class="form-control"
				ng-model="settingsController.currentPrinter.configuration.machineConfig" 
				ng-options="item as item.name for item in settingsController.machineConfigurations track by item.name"
				ng-change="settingsController.currentPrinter.configuration.MachineConfigurationName=settingsController.currentPrinter.configuration.machineConfig.name"
				required>
			  <option value="">{{settingsController.loadingMachineConfigMessage}}</option>
			</select>		
		</div>
		<div class="list-group-item">
			<label>Slicing Profile</label>
			<h4 class="list-group-item-heading">{{settingsController.currentPrinter.configuration.SlicingProfileName}}</h4>
			<select name="type" class="form-control"
				ng-model="settingsController.currentPrinter.configuration.slicingProfile" 
				ng-options="item as item.name for item in settingsController.slicingProfiles track by item.name"
				ng-change="settingsController.currentPrinter.configuration.SlicingProfileName=settingsController.currentPrinter.configuration.slicingProfile.name"
				required>
			  <option value="">{{settingsController.loadingProfilesMessage}}</option>
			</select>
		</div>
		<div class="list-group-item">
			<label>Ink Configuration</label>
			<h4 class="list-group-item-heading">{{settingsController.currentPrinter.configuration.slicingProfile.SelectedInk}}</h4>
			<select name="type" class="form-control"
				ng-model="settingsController.currentPrinter.configuration.slicingProfile.selectedInkConfigIndex"
				ng-options="index*1 as item.Name for (index, item) in settingsController.currentPrinter.configuration.slicingProfile.InkConfig track by index"
				ng-change="settingsController.currentPrinter.configuration.slicingProfile.SelectedInk=settingsController.currentPrinter.configuration.slicingProfile.InkConfig[settingsController.currentPrinter.configuration.slicingProfile.selectedInkConfigIndex].Name">
			  <option value="">Select an ink configuration...</option>
			</select>
		</div>
		<div class="list-group-item">
			<label>Advanced Settings</label><br/>
			<button class="btn btn-danger" ng-click="settingsController.toggleAdvanced()">
				<i class="fa fa-wrench"></i> 
				<span>Show Advanced settings</span>
			</button>
		</div>
	</div>
			
	<div class="panel-footer">
		<span ng-include="'cardFooter.html'"></span>
	</div>
</div>