<div class="container bootcards-container">
	<br>
	<div class="row">
		<div class="col-sm-5">
			<div class="col-sm-12 bootcards-cards">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<i class="fa fa-2x fa-print pull-left"></i>
						<h3 class="panel-title pull-left">All Printers</h3>
						<div class="row">
							<div class="btn-group pull-right" >
								<button class="btn btn-primary" ng-disabled="settingsController.currentPrinter.started || settingsController.currentPrinter == null" ng-click="editCurrentPrinter('Edit Basic Printer')" >
									<i class="fa fa-pencil"></i>
									<span>Edit</span>
								</button>
								<button class="btn btn-danger" ng-disabled="settingsController.currentPrinter == null" ng-click="settingsController.deleteCurrentPrinter()">
									<i class="fa fa-trash-o"></i> 
									<span>Remove</span>
								</button>
								<button class="btn btn-success" ng-click="settingsController.createNewPrinter('Create Basic Printer')">
									<i class="fa fa-plus"></i> 
									<span>Create</span>
								</button>
							</div>
						</div>
					</div>
					<div class="list-group">
							<a ng-class="{active:printer.configuration.name == settingsController.currentPrinter.configuration.name}" ng-repeat="printer in printers"
								class="list-group-item"
								ng-click="settingsController.changeCurrentPrinter(printer)" >
								<span class="pull-left fa-stack fa-lg">
									<i class="fa fa-stack-1x fa-2x fa-print"></i>
									<i class="fa fa-stack-2x fa-2x fa-play text-danger" ng-show="printer.printInProgress"></i>
									<i class="fa fa-stack-3x fa-2x fa-ban text-danger" ng-hide="printer.started"></i>
								</span>
								<h4 class="list-group-item-heading">{{printer.configuration.name}}</h4>
								<p class="list-group-item-text">{{printer.printInProgress?"Status:" + printer.status:"Port:" + printer.configuration.machineConfig.MotorsDriverConfig.ComPortSettings.PortName + " Display:" + printer.configuration.machineConfig.MonitorDriverConfig.OSMonitorID}}</p>
							</a>
							<div class="list-group-item" ng-show="printers.length == 0">
								<i class="pull-left fa fa-2x fa-exclamation-triangle"></i>
								<h3 class="list-group-item-heading" >Haven't setup a printer?<br>Try one of these...</h3>
							</div>
							<a class="list-group-item" ng-show="printers.length == 0" ng-repeat="printer in communityPrinters" ng-click="installCommunityPrinter(printer)">
								<i class="pull-left fa fa-2x fa-print"></i>
								<h4 class="list-group-item-heading">Printer: {{printer.name}}</h4>
								<p class="list-group-item-text">
										Printer Community: {{repo}}
								</p>
								<p class="list-group-item-text">
										SHA: {{printer.sha}}
								</p>
								<p class="list-group-item-text">
										Size: {{printer.size}}
								</p>
							</a>
					</div>
					<div class="panel-footer">
						<span ng-include="'cardFooter.html'"></span>
					</div>			
				</div>
			</div>
			<div class="col-sm-12 bootcards-cards">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
					<i class="fa fa-2x fa-globe pull-left"></i>
					<h4>LAN Setup </h4>
				</div>
				<form class="list-group" ng-submit="settingsController.setupNetwork()">
					<div class="list-group-item">
						<i class="fa fa-2x fa-compass pull-left"></i>
						<h4>HostName: {{settingsController.hostConfig.Hostname}}.local</h4>
						<div class="input-group">
							<input class="form-control" ng-model="settingsController.hostConfig.Hostname"</input>
							<span class="input-group-addon" id="basic-addon2">.local</span>
							<span class="input-group-btn">
								<button ng-disabled="settingsController.shutdownInProgress" class="btn btn-primary" ng-click="settingsController.changeHostname(settingsController.hostConfig.Hostname)">
									<b class="fa fa-pencil"></b>
									<b class="cwh-text-indent">Save</b>
								</button>
							</span>
						</div>
					</div>
				<!--	<div class="list-group-item">
						
					</div> -->
				</form>
				
					<div class="panel-footer">
						<span ng-include="'cardFooter.html'"></span>
					</div>
				</div>
			</div>
			<div class="col-sm-12 bootcards-cards">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
					<i class="fa fa-2x fa-wifi pull-left"></i>
					<h4>Wifi Setup </h4>
				</div>
				<form class="list-group" ng-submit="settingsController.connectToWireless()">
					<div class="list-group-item">
						<i class="fa fa-2x fa-plug pull-left"></i>
						<h4>Access Point</h4>
						<select name="type" id="AccessPoint" class="form-control" ng-model="settingsController.selectedNetworkInterface" ng-options="item.ssid group by item.parentInterfaceName for item in settingsController.networkInterfaces|filter:{hidden: 'false'}"	required>
						  <option value="">{{settingsController.loadingNetworksMessage}}</option>
					</div>
					<div class="list-group-item">
						<i class="fa fa-2x fa-key pull-left"></i>
						<h4>Password</h4>
						<input type="password" class="form-control" ng-model="settingsController.selectedNetworkInterface.password">
					</div>
					<div class="list-group-item">
						<button ng-disabled="settingsController.shutdownInProgress" class="btn btn-primary btn-sm">
							<b class="fa fa-repeat"></b>
							<b class="cwh-text-indent">Reconfigure</b>
						</button>
					</div>
				</form>
				
					<div class="panel-footer">
						<span ng-include="'cardFooter.html'"></span>
					</div>
				</div>
			</div>
			</div>
		
		<div class="col-sm-7">
			<div class="bootcards-card">
				<span ng-include="'printer.html'"></span>
			</div>
			
			<div class="bootcards-card" ng-show="showAdvanced==true">
				<span ng-include="'editInkConfig.html'" ng-show="showAdvanced==true" ></span>
			<!-- Unneeded?	<span ng-include="'2dProperties.html'" ng-show="settingsController.currentPrinter" ng-disabled="{{settingsController.showAdvanced}}"></span> -->
				<span ng-include="'editGCodeTemplates.html'" ng-show="showAdvanced==true"></span>
				<span ng-include="'editCalculators.html'" ng-show="showAdvanced==true"></span>
				<span ng-include="'advancedProperties.html'" ng-show="showAdvanced==true"></span>
			</div>
		</div>
	</div>
</div>