		<div class="panel panel-default">
			<div class="panel-heading clearfix">
				<i class="fa pull-left fa-2x fa-calculator"></i>
				<h4 class="pull-left">Slicing Calculators: {{settingsController.currentPrinter.configuration.name}} </h4>
				<div class="btn-group pull-right" >
					<button class="btn btn-primary" ng-disabled="settingsController.currentPrinter.started" ng-click="savePrinter(settingsController.currentPrinter)" >
						<i class="fa fa-pencil"></i>
						<span>Save</span>
					</button>
				</div>
			</div>
			<div class="list-group">
				<div class="list-group-item">
					<i title="template variable = ${ZLiftDist}" class="fa fa-2x fa-sort-amount-asc fa-rotate-180 pull-left"></i>
					<h4 title="template variable = ${ZLiftDist}">Z Lift Distance (mm)</h4>
					<div title="template variable = ${ZLiftDist}" class="input-group"
						cwh-testscript
						placeholder="please return a double value from this script"
						helpURL="http://www.w3schools.com/js/"
						testClick="settingsController.testScript('Z Lift Distance Calculator' , 'java.lang.Double[$CURSLICE({{settingsController.currentPrinter.configuration.slicingProfile.InkConfig[settingsController.currentPrinter.configuration.slicingProfile.selectedInkConfigIndex].NumberofBottomLayers}},{{settingsController.currentPrinter.configuration.slicingProfile.InkConfig[settingsController.currentPrinter.configuration.slicingProfile.selectedInkConfigIndex].NumberofBottomLayers+2}},1)$buildAreaMM(0.0,2000.0,75)]', settingsController.currentPrinter.configuration.slicingProfile.ZLiftDistanceCalculator)"
						ng-model="settingsController.currentPrinter.configuration.slicingProfile.ZLiftDistanceCalculator">
					</div>
				</div>
				<div class="list-group-item">
					<i title="template variable = ${ZLiftRate}" class="fa fa-2x fa-step-backward fa-rotate-90 pull-left"></i>
					<h4 title="template variable = ${ZLiftRate}">Lift Speed (mm/m)</h4>
					<div title="template variable = ${ZLiftRate}" class="input-group"
						cwh-testscript
						placeholder="please return a double value from this script"
						helpURL="http://www.w3schools.com/js/"
						testClick="settingsController.testScript('Z Lift Speed Calculator' , 'java.lang.Double[$CURSLICE({{settingsController.currentPrinter.configuration.slicingProfile.InkConfig[settingsController.currentPrinter.configuration.slicingProfile.selectedInkConfigIndex].NumberofBottomLayers}},{{settingsController.currentPrinter.configuration.slicingProfile.InkConfig[settingsController.currentPrinter.configuration.slicingProfile.selectedInkConfigIndex].NumberofBottomLayers+2}},1)$buildAreaMM(0.0,2000.0,75)]', settingsController.currentPrinter.configuration.slicingProfile.ZLiftSpeedCalculator)"
						ng-model="settingsController.currentPrinter.configuration.slicingProfile.ZLiftSpeedCalculator">
					</div>
				</div>
				<div class="list-group-item">
					<i class="fa fa-2x fa-fire pull-left"></i>
					<h4>Exposure Time (ms)</h4>
					<div class="input-group"
						cwh-testscript
						placeholder="please return an integer value from this script"
						helpURL="http://www.w3schools.com/js/"
						testClick="settingsController.testScript('Exposure Time Calculator' , 'java.lang.Integer[$CURSLICE({{settingsController.currentPrinter.configuration.slicingProfile.InkConfig[settingsController.currentPrinter.configuration.slicingProfile.selectedInkConfigIndex].NumberofBottomLayers}},{{settingsController.currentPrinter.configuration.slicingProfile.InkConfig[settingsController.currentPrinter.configuration.slicingProfile.selectedInkConfigIndex].NumberofBottomLayers+2}},1)$buildAreaMM(0.0,2000.0,75)]', settingsController.currentPrinter.configuration.slicingProfile.ExposureTimeCalculator)"
						ng-model="settingsController.currentPrinter.configuration.slicingProfile.ExposureTimeCalculator">
					</div>
				</div>
			</div>
			
			<div class="panel-footer">
				<span ng-include="'cardFooter.html'"></span>
			</div>
		</div>